@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');

.rubrik {
    font-family: 'Great Vibes', cursive;
    font-size: 8vh;
    margin-left: 20px;
    margin-right: 20px;
}

.paragraf {
    font-family: 'Great Vibes', cursive;
    font-size: 6vh;
    margin-left: 20px;
    margin-right: 20px;
}

.card-lower{
    background-color: white;
}
.tag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    bottom:0;
    padding:20px;
    width:100%;
}

.carouselContainer {
    transform: rotate(10deg);
    padding: 20px;
    z-index: 100;
    width: 40%;
    align-self: center;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
}

.gold-text {
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(https://img1.goodfon.com/wallpaper/nbig/d/6c/gold-texture-golden-zoloto-fon-3619.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

.imageBackground1 {
    background-color:white;
}

.polaroidText {
    font-family: 'Reenie Beanie', cursive;
    font-size: -webkit-xxx-large;
    text-align: center;
}

.cardContainer {
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.polaroidImage {
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    /* For the following settings we set 100%, but it can be higher if needed 
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

.card {
    border:none;
    width:100%;
}


.imageCrop {
    width: auto;
    height: 500px;
    overflow: hidden;
    /* margin: 10px; */
    position: relative;
}

@media only screen and (max-width: 800px) {
    .card {
        width:100%;
    }
    .cardContainer {
        margin-top:0px;
    }

    .rubrik {
        font-family: 'Great Vibes', cursive;
        font-size: 6vh;
        margin-left: 20px;
        margin-right: 20px;
    }

    .paragraf {
        font-family: 'Great Vibes', cursive;
        font-size: 3vh;
        margin-left: 20px;
        margin-right: 20px;
    }
    .carouselContainer {
        transform: rotate(0deg);
        width:100%;
    }
    .card-lower {
        padding-top: 40px;
    }
}